.componentContainer {
  background-color: #252323;
  height: 76px;
}

.calendarText {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E4EBFB;
}

.containerSideBar {
  border-right: 1px solid rgba(228, 235, 251, 0.32);
}

.userLogo {
  width: 40px;
  height: 40px;
}

.changeEnvironment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7183A6;
  padding: 16px 24px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #7183A6;
}

.dropdownOptionContainer {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(42px, 42px);
}

.dropdownOption {
  display: flex;
  align-items: center;
}

.dropdownOption:hover {
  background-color: #E4EBFB;
}

.dropdownOptionLight {
  display: flex;
  align-items: center;
}

.dropdownOptionLight:hover {
  background-color: #3A3838;
}

.dropdown-toggle::after {
  display:none;
}